<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>ADD POST</h1>
  <hr>
  <form action="/profile/<%=data.UserId%>/addpost" method="post">
  <label for="">Caption</label><br>
  <input type="text" name="caption"><br> <br>

  <label for="">Image</label><br>
  <input type="text" name="imageUrl"><br> <br>

  <label for="">Save To <%= data.firstName %> </label>  
  <input type="hidden" name="UserProfileId" value="<%= data.id %>">


  <!-- <select name="UserProfileId" id="" disabled>
    <option value="<%= data.UserId %>"><%= data.UserId %></option>
  </select> -->
  
  <br> <br>

  <button>Publish</button>
  </form> 




</body>
</html>